{% extends "tvwatch/layout.html" %}
{% load static %}

{%block title%}
    About page
{%endblock%}

{% block body %}
<link href="{% static 'tvwatch/css/about.css' %}" rel="stylesheet">
<div class="aboutbody">
    <div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Welcome to our about us page. We are a Dutch company here to help users who like to watch tv-show, but can't find any other interesting tv-shows online. We are here to help you find Tv-shows that are based on you're interest!
            </p>
            <div class="skills">
                <span>Web Design</span>
                <span>Photoshop & Illustrator</span>
                <span>Coding</span>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="back-to-top">
            <a href="#hero"><i class="fas fa-chevron-up"></i></a>
        </div>
        <div class="footer-content">
            <div class="footer-content-about animate-top">
                <h4>About TVWatch</h4>
                <div class="asterisk"><i class="fas fa-asterisk"></i></div>
                <p>
                    We are a dutch company who created this site to help people around 
                    the world to make a perfect match in tv-shows based on their interest
                </p>
            </div>
            <div class="footer-content-divider animate-bottom">
                <div class="social-media">
                    <h4>Follow along</h4>
                    <ul class="social-icons">
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-square"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-pinterest"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-tripadvisor"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="newsletter-container">
                    <h4>Newsletter</h4>
                    <form action="{% url 'newsletter' %}" class="newsletter-form" method="POST">
                        {% csrf_token %}
                        <input type="text" class="newsletter-input" name="newsletter" placeholder="Your email address..." required>
                        <button class="newsletter-btn" type="submit" onClick="conf()">
                            <i class="fas fa-envelope"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</footer>
<script src="{% static 'tvwatch/main.js' %}"></script>     
{%endblock%}