.tvwatch{
    width: 100%;
    height: 100vh;
    background: url("../images/besttvshows.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline{
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: rgb(0, 0, 255);
    font-weight: 300;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation: fadeUp .5s forwards;
    animation-delay: .5s;
}


.first-letter{
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline{
    color: rgb(255, 0, 0);
    font-size: 3.6rem;
    font-family: var(--main-font);
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-right: .5rem;
    animation: scale .5s forwards;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
}

.line{
    width: 100%;
    max-width: 8.4rem;
    height: .25rem;
    background-color: rgb(0, 0, 255);
    position: relative;
    opacity: 0;
    animation: grow 2s forwards;
    animation-delay: 1s;
}

.line-right::before,
.line-left::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
    opacity: 0;
    animation: grow .5s forwards;
    animation-delay: 1.2s;
}

.line-right::before{
    border-right-color: rgb(0, 0, 255);
    right: 0;
}

.line-left::before{
    border-left-color: rgb(0, 0, 255);
    left: 0;
}

.asterisk{
    font-size: 1.2rem;
    color: var(--secondary-font-color);
    margin: 0 1.6rem;
    opacity: 0;
    animation: spin .5s forwards;
    animation-delay: .7s;
}

.single-animation{
    opacity: 0;
    animation: fadeDown .5s forwards;
    animation-delay: 1.5s;
}

.headline-description h5{
    color: rgb(255, 0, 0);
    font-size: 1.4rem;
    font-weight: 200;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 2px;
}

.cta-btn{
    font-size: 1.1rem;
    background-color: #fff;
    padding: 0.9rem 1.8rem;
    color: var(--body-font-color);
    border-radius: .4rem;
    transition: background-color .5s;
    background-color: none;
}
.cta-btn:hover, 
.cta-btn:focus{
    color: #fff;
    background-color: var(--secondary-font-color);
}

/*Discover our story*/
.global-headline{
    text-align: center;
    margin-top: 3.9rem;
}

.about-us .global-headline{
    margin-top: 6.9rem;
}

.global-headline .asterisk{
    color: var(--body-font-color);
    margin: 2.4rem 0;
}

.headline-dark{
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global-headline .sub-headline{
    letter-spacing: -1px;
    line-height: .42;
}

.tvwatch-info{
    text-align: center;
}

.tvwatch-info{
    text-align: center;
}

.tvwatch-description{
    margin-bottom: 3rem;
}

.tvwatch-description p{
    line-height: 1.6;
    margin-bottom: 2.4rem;
}

.body-btn{
    font-size: 1.5rem;
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
}

.body-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}

.body-btn:hover, 
.body-btn:focus{
    color: var(--main-font-color-dark);
}

.body-btn:hover::before,
.body-btn:focus::before{
    background-color: var(--main-font-color-dark);
}

/*tasteful tvshows*/
.tasteful-tvshows{
    background: url("../images/game.jpg") center no-repeat;
    background-size: cover;
}

.between{
    min-height: 65vh;
    display: flex;
    align-items: center;
}

/*Discover our menu*/
.image-group{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.discover-our-menu .tvwatch-description{
    padding-top: 3rem;
    margin-bottom: 0;
}

/*The perfect search*/
.perfect-blend{
    background: url("../images/mandalorian.jpg") center no-repeat;
    background-size: cover;
}
